body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url(retro-futuristic-landscape-background-free-vector.jpg);
}

nav {
  background-color: #333;
  padding: 10px;
  margin: 0 15px;
}

nav a {
  color: white;
  font-weight: bold;
}
.container {
  color: lightskyblue;
}

.img{
    width: 50%;
    height: 50%;
}