<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/contacto.css">
    <title>Document</title>
</head>
<body>
  <nav>
    <a href="/">Inicio</a>
    <a href="/blog/Blog/">Blog</a>
    <a href="/blog/Contacto/">Contacto</a>
  </nav>
    <div class="container">
        <h2>¿Quien soy?</h2>
        <div class="texto">
        <p>Hola me llamo Sergio y soy un estudiante de 1 de SMR, me gusta jugar videojuegos y ver series. Tambien practico padel este es mi primer blog y os voy a hablar de las aignaturas que tengo en este curso </p>
        </div>
    </div>
</body>
</html>